{% extends "main.html" %} {% block content %}
<h2>Registrasi Calon Mahasiswa</h2>
<!-- Tampilkan pesan konfirmasi jika ada -->
{% if confirmation_message %}
<div class="alert alert-success" role="alert">{{ confirmation_message }}</div>
<!-- Tampilkan data form yang diisi sebagai konfirmasi -->
<div class="row mt-3">
    <div class="col-lg-2">
        {% if foto %}
        <img src="{{ url_for('static', filename=foto.split('static/')[-1]) }}" alt="Foto" class="img-thumbnail"
            width="150" />
        {% endif %}
    </div>
    <div class="col-lg-10">
        <p><strong>Nama:</strong> {{ nama }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Nomor HP:</strong> {{ hp }}</p>
        <p><strong>Program Studi:</strong> {{ prodi }}</p>
    </div>
</div>
{% endif %}
<!-- Formulir Registrasi -->
<form action="/register" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nama">Nama</label>
        <input type="text" class="form-control